<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>PyWeb_Device</title>
    <meta charset="UTF-8" />
    <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <button onclick = "Interval1=DataGenerateInterval()">Device ON</button>
    <button onclick = "window.clearInterval(Interval1)">Device OFF</button>

    <button onclick = "Interval2=sendInfoInterval()">Send ON</button>
    <button onclick = "window.clearInterval(Interval2)">Send OFF</button>


    <!-- Scripts -->

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/devices.js"></script>

</body>

</html>